# OS files
.DS_Store
Thumbs.db

# Editors and local tools
.vscode/
.idea/
.obsidian/workspace.json


# Logs and temp files
*.log
*.tmp
*.temp
*.swp
*~

# Dependency folders
node_modules/

# Build output
/dist/
/build/

# Environment files
.env
.env.*

# Local backups
*.bak
__pycache__
error_git_log.txt